.image-slider{
    margin-bottom: 5%;
    .horizontalSlider___281Ls {
        height: 70vh;
     
    }
    .carousel{
        
        img{
        width: 100%;
        height:auto;
        object-fit: cover;
    }}
    .dot-group{
        padding:10px 0;
        justify-content: center;
        button{
            border:1px solid $primary;
            color:$primary;
            border-radius: 20%;
            padding:3px;
            margin:0 2px;
            background-color: white !important;
        }

    }


}
    // .carousel__dot--selected{
    //     background-color:$secondary !important;
    //     color:$secondary;
    //     border:1px solid $secondary !important;
    // }